.App-FindPW {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* 최소 높이를 화면 전체 높이로 설정 */
  width: 1500px; /* 고정 너비 설정 (예시로 1000px 사용) */
  overflow-x: auto; /* 가로 스크롤 활성화 */
  margin: 0 auto; /* 가운데 정렬 */
}

.back-button-Login {
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.App-header {
  display: flex;
  justify-content: space-between; /* 좌우 공백 */
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.App-content-FindPW {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center; /* 가운데 정렬 */
  flex-direction: column; /* 세로 배치 */
  align-items: center; /* 가운데 정렬 */
}

.text {
  /*현재 textarea 테스트중*/
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 300px;
  resize: none;
  border-radius: 5px;
  font-size: 15px;
  line-height: 40px;
  padding: 0 10px;
  font-family: "Arial", sans-serif;
  color: black;
}

.FindPW-button-FindPW {
  background-color: #a69cf5;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 323px;
  font-size: 20px;
}

.divider {
  width: 2px;
  background-color: gray;
  height: 100%;
  margin: 0 20px;
  rotate: 90;
}

.text-box-PW {
  display: inline-block;
  font-size: 12px;
  width: 300px;
  height: 20px;
  background-color: transparent;
  border: 0px solid #ddd;
  color: red;
}
.signup-form-PW {
  width: 322px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
