.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.App-header {
  display: flex;
  justify-content: space-between; /* 좌우 공백 */
  align-items: center;
  background-color: #f0f0f0;
  padding: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.login-button-login {
  background-color: #a69cf5;
  color: black;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  height: 40px;
  width: 320px;
  font-size: 20px;
}

.App-content {
  display: flex;
  flex: 1;
  padding: 20px;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.text {
  /*현재 textarea 테스트중*/
  display: block;
  border: 1px solid rgba(0, 0, 0, 0.2);
  height: 40px;
  width: 300px;
  resize: none;
  border-radius: 5px;
  font-size: 15px;
  line-height: 40px;
  padding: 0 10px;
  font-family: "Arial", sans-serif;
  color: black;
}

.additional-buttons {
  display: flex;
  justify-content: space-between;
  width: 320px;
}

.additional-button {
  background-color: transparent; /* 배경색 제거 */
  color: gray;
  border: none; /* 테두리 제거 */
  cursor: pointer;
  height: 40px;
  width: 155px;
  font-size: 10px;
  outline: none; /* 포커스 시 나타나는 윤곽선 제거 */
}

.back-button-HomePage {
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.password-field {
  position: relative;
  display: flex;
  align-items: center;
  width: 322px;
}

.password-input {
  flex: 1;
  padding-right: 40px;
}

.password-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
}
